<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688296927941-68fu7ksbeh11253hh1ip7gi1jc9segn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688296927941-68fu7ksbeh11253hh1ip7gi1jc9segn2</string>
	<key>API_KEY</key>
	<string>AIzaSyBqRgRJiwX2q_3xJwA4QGvOu1xFxyo4Avg</string>
	<key>GCM_SENDER_ID</key>
	<string>688296927941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webmyne.ToDoSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todo-app-d4d16</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-d4d16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688296927941:ios:10b3dbfb29ff2f43da06ac</string>
</dict>
</plist>